<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="card-content">
        <div class="card-image">
          <!-- MON IMAGE -->
        </div>
        <div class="description">
          <p><%= "Je cherche quelqu'un pour transporter mon meuble de 0x1m" %></p>
        </div>
        <div class="details" >
          <div class="offres">
            <p><%= "5" %></p>
            <p><%= "Offres" %></p>
          </div>
          <div class="poste">
            <p><%= "10j" %></p>
            <p><%= "Posté" %></p>
          </div>
        </div>
        <div class="button">
          <p class="button-p"><%= "Voir l'annonce" %></p>
        </div>
      </div>
    </div>



  </div>
</div>

