
<div class="footer-container">
  <div class="footer-team hidden-xs">
      <p><%= image_tag "adrien.jpg", class: "avatar-team" %></p>
      <p> <%= image_tag "vincent.jpg", class: "avatar-team"  %></p>
      <p> <%= image_tag "adam.jpg", class: "avatar-team"  %></p>
      <p> <%= image_tag "david.jpg", class: "avatar-team"  %></p>
    </ul>
  </div>
  <div class="logo-footer">
    <p> <%= link_to image_tag("logo-bleu-diable.png"), root_path %></p>
  </div>
  <div class="footer-links">
  <h1>
    Made with Love by ©Odiable at Le Wagon
  </h1>
  </div>
</div>
