<% if user_signed_in? %>

  <div class="navbar-container">
    <div class="logo">
    <%= link_to image_tag("logo-bleu-diable.png"), root_path %>
    </div>


    <div class="liens">
      <%= link_to "Voir les annonces", products_path  %>
    </div>
    <% if current_user.transporter? %>
    <% else %>
    <div class="liens">
      <%= link_to "Devenir transporteur", sign_up_transporter_path %>
    </div>
    <% end %>

    <div class="mydashboard">
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn-logout'  %>
      <%= link_to "Dashboard", dashboards_path, class: 'dashboard-btn'  %>
    </div>
  </div>
    <% else %>
    <div class="navbar-container">
    <div class="logo">
    <%= link_to image_tag("logo-bleu-diable.png"), root_path %>
    </div>

    <div class="liens">
      <%= link_to "Voir les annonces", products_path  %>
      <%= link_to "Devenir transporteur", sign_up_transporter_path %>
    </div>
      <div class="btn-container">
        <%= link_to "S'inscrire", new_user_registration_path, class: "btn-signin" %>
        <%= link_to "Se connecter", user_session_path,  class: "btn-signup" %>
      </div>
</div>
<% end %>
