<div class="navbar-container">
  <div class="logo">
    <%= link_to image_tag("logo-odiable.jpg"), '/' %>
  </div>

    <div class="liens">
      <%= link_to "Voir les annonces", '/'  %>
      <%= link_to "Devenir transporteur", '/' %>
    </div>
      <div class="btn-container">
         <%= link_to "S'inscrire", '/', class: "btn-signin" %>
        <%= link_to "Se connecter", '/', class: "btn-signup" %>
      </div>
</div>
