<div class="dashboard">
</div>
<% if current_user.transporter %>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mes offres</a></li>
  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
</ul>
<% else %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
  </ul>
<% end %>
  <!-- Tab panes -->
<div class="wrap">
  <div class="container">
    <div class="tab-content">
      <div role="tajbpanel" class="tab-pane fade in active" id="home">
        <p>Bonjour</p>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
      </div>
      <div role="tabpanel" class="tab-pane fade" id="messages">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-xs-12">
              <div class="dash-product-content">
                <div class="dash-card">
                  <div class="prod-photo">
                    <%= cl_image_tag product.photo, height: 200, width: 200, crop: :fill%>
                  </div>
                  <div class="prod-description">
                    <p><%= product.description %></p>
                    <p><%= product.aa %></p>
                    <p><%= product.ad %></p>
                    <p><%= product.date %></p>
                  </div>
                  <div class="dash-prod-link">
                    <p><%= link_to "Editer", dashboards_product_path(product) %></p>
                    <p><%= link_to "Supprimer", dashboards_product_path(product) %></p>
                    <a href="#", data-product-id="<%= product.id %>">Vos offres</a>
                  </div>
                </div>
                <div class="dash-offer-details hidden", data-product-id="<%= product.id%>">
                  <% product.offers.each do |offer| %>
                    <div class="dash-offer-user">
                      <%= offer.transporter.user.photo %>
                    </div>
                    <div class="dash-offer-desc">
                      <p><%= offer.description %></p>
                      <p><%= offer.price %></p>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
