
<div class="dashboard">
  <% if current_user.transporter %>
    <div class="dash-sidebar">
      <div class="mon-avatar">
        <div class="mon-avatar-photo">
          <!-- <#%= link_to image_tag current_user.photo, crop: :fill  %> -->
          <%= image_tag "logo-diable.jpg", class: "mon-avatar-photo" %>
        </div>
        <div class="mon-avatar-name">
          <%= current_user.first_name.capitalize %>
        </div>
      </div>
        <div class="mes-offres act">
          <h3>Mes Offres</h3>
        </div>
        <div class="mes-produits">
          <h3><%= "Mes Produits" %></h3>
        </div>
        <div class="mon-profil">
          <h3>Mon Profil</h3>
        </div>
        <div class="mon-historique">
          <h3>Historique</h3>
        </div>
    </div>
    <% else %>
    <div class="dash-sidebar">
      <div class="mon-avatar">
        <div class="mon-avatar-photo">
          <!-- <#%= link_to image_tag current_user.photo, crop: :fill  %> -->
          <%= image_tag "logo-diable.jpg", class: "mon-avatar-photo-1" %>
        </div>
        <div class="mon-avatar-name">
          <%= current_user.first_name.capitalize %>
        </div>
      </div>

        <div class="mes-offres">
          <h3>Mes Offres</h3>
        </div>
        <div class="mes-produits act spe-prod-dispense">
          <h3><%= "Mes Produits" %></h3>
        </div>
        <div class="mon-profil">
          <h3>Mon Profil</h3>
        </div>
        <div class="mon-historique">
          <h3>Historique</h3>
        </div>
    </div>
  <% end %>

 <% if current_user.transporter  %>
  <div class="container-fluid">
    <div class="container-card-dash">
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-xs-12 ">
          <div class="dash-card">
            <div class="dash-card-photo" style="background-image: url(<%= cl_image_path offer.product.photo,crop: :fit %>)">
            </div>

            <div class="dash-card-description">
            <!--   <div class="dash-description-title">
                <p><%#product.title.capitalize %></p>
              </div> -->
                  <div class="dash-description-desc">
                    <h3><%= offer.product.title.capitalize %></h3>
                  </div>
              <div class="dash-desc-address">
                <div class="dash-description-aaad">
                  <div class="dash-description-ad">
                    <i class="far fa-circle"></i>
                    <p><%= offer.product.ad %></p>
                  </div>
                  <div class="dash-description-aa">
                    <i class="fas fa-circle"></i>
                    <p><%= offer.product.aa %></p>
                  </div>
                </div>
                <div class="date-dash-transp">
                  <div class="offer-dasth-status">
                      <%= offer.status %>
                  </div>
                  <div class="date-delivery">

                  <p><%= offer.product.date_delivery %></p>
                  </div>
                </div>
              </div>
              <div class="button-dash-ticket">
                <div class="offer-price-dash">
                <p>  <%= offer.price %>€ </p>
                </div>
                <div class="offer-description-dash">
                  <h4> <%= offer.description %> </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <div class="container-fluid">
    <div class="container-card-dash">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-12 ">
          <div class="dash-card">
            <div class="dash-card-photo" style="background-image: url(<%= cl_image_path product.photo,crop: :fit %>)">
            </div>
            <div class="dash-card-description">
            <!--   <div class="dash-description-title">
                <p><%= product.title.capitalize %></p>
              </div> -->
                  <div class="dash-description-desc">
                    <h3><%= product.title.capitalize %></h3>
                  </div>
              <div class="dash-desc-address">
                <div class="dash-description-aaad">
                  <div class="dash-description-ad">
                    <i class="far fa-circle"></i>
                    <p><%= product.ad %></p>
                  </div>
                  <div class="line-dash"></div>
                  <div class="dash-description-aa">
                    <i class="fas fa-circle"></i>
                    <p><%= product.aa %></p>
                  </div>
                </div>
              </div>
              <div class="button-dash-all">
                <div class="button-dash-edit">
                  <p><a href="#" data-product-id="<%= product.id %>">Voir offre (<%= product.offers.where(status: 1, status: 0).length %>)</a></p>
                </div>
                <div class="my-btn-delete">
                 <p>
                   <%= link_to image_tag("icons8-editer-le-fichier-50.png"), edit_product_path(product), class: "icons-edit" %>
                    <%= link_to image_tag("icons8-supprimer-80.png"), product_path(product), method: :delete, class: "icons" %>
                 </p>
                </div>
              </div>
            </div>
          </div>
            <div class="dash-offer-details hidden", id="product-<%= product.id %>" data-offer-id="<%= product.id%>">
              <% if @offers[product.id][:demenagement] %>
                <div id="offer-<%= @offers[product.id][:demenagement].id %>">
                  <%= render "dashboards/offer", offer: @offers[product.id][:demenagement], product: product%>
                </div>
              <% end %>

              <% if @offers[product.id][:transport] %>
                <div id="offer-<%= @offers[product.id][:transport].id %>">
                  <%= render "dashboards/offer", offer: @offers[product.id][:transport], product: product%>
                </div>
              <% end %>
           </div>
        </div>
      <% end %>
      <% end %>

    </div>
    </div>
  </div>
</div>
