
<div class="dashboard">
    <div class="dash-sidebar">
      <div class="mes-produits">
        <h1><%= "Mes Produits" %></h1>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-12 ">
          <div class="dash-card">
            <div class="dash-card-photo" style="background-image: url(<%= cl_image_path product.photo,crop: :fill %>)">
            </div>
            <div class="dash-card-description">
            <!--   <div class="dash-description-title">
                <p><%= product.title.capitalize %></p>
              </div> -->
              <div class="dash-desc-address">
                <div class="dash-description-aaad">
                  <div class="dash-description-ad">
                    <i class="far fa-circle"></i>
                    <p><%= product.ad %></p>
                  </div>
                  <div class="dash-description-aa">
                    <i class="fas fa-circle"></i>
                    <p><%= product.aa %></p>
                  </div>
                </div>
                <div class="dash-description-desc">
                 <p><%= product.description.capitalize %></p>
                </div>
              </div>
              <div class="button-dash-all">
                <div class="button-dash-edit">
                  <p><%= link_to "VOIR OFFRE", edit_product_path(product), class: "btn-dash-edit" %></p>
                </div>
                <div class="my-btn-delete">
                 <p>
                   <%= link_to "EDITER", edit_product_path(product) %>
                 </p>
                </div>
                <div class="my-btn-delete">
                  <p>
                    <%= link_to "SUPPRIMER", product_path(product), method: :delete %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
