<% if current_user.transporter %>
  <ul class="nav nav-tabs " role="tablist">
    <li role="presentation" class="custom-nav"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mes offres</a></li>
  </ul>
<% else %>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Mes Produits</a></li>
  </ul>
<% end %>
  <!-- Tab panes -->
<div class="wrap-dash" >
  <div class="container">
    <div class="tab-content">
      <div role="tajbpanel" class="tab-pane fade in active" id="home">
      <!--   <p>Bonjour</p> -->
      </div>
      <div role="tabpanel" class="tab-pane fade" id="profile">
      </div>
      <div role="tabpanel" class="tab-pane fade" id="messages">
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-xs-12 dash-cards">
              <div class="dash-product-content">
                <div class="dash-card">
                  <div class="prod-photo">
                    <%= cl_image_tag product.photo, height: 200, width: 200, crop: :fill%>
                  </div>
                  <div class="prod-description">
                    <div class="dash-prod-title pad">
                      <h4> <%= product.title.capitalize %> </h4>
                    </div>
                    <div class="dash-prod-desc pad">
                      <h4>Description : </h4>
                      <p><%= product.description.capitalize %></p>
                    </div>
                    <div class="dash-prod-aa pad">
                      <!-- <h4>Adresse:</h4> -->
                      <div class="aa">
                        <p>Depart : <%= product.ad %></p>
                      </div>
                      <div class="ad">
                        <p>Arrivé : <%= product.aa %></p>
                      </div>
                    </div>
                    <div class="dash-prod-date pad">
                      <h4> Date:</h4>
                      <p><%= product.date %></p>
                    </div>
                  </div>
                  <div class="dash-prod-link">
                    <p> <a href="#", data-product-id="<%= product.id %>", class= "btn btn-primary custom-btn">Vos offres</a></p>
                    <p><%= link_to "Editer", dashboards_product_path(product), class: "btn btn-success custom-btn" %></p>
                    <p><%= link_to "Supprimer", dashboards_product_path(product), class: "btn btn-danger custom-btn" %></p>
                  </div>
                </div>
                <div class="dash-offer-details hidden", data-offer-id="<%= product.id%>">
                  <% product.offers.each do |offer| %>
                  <% if offer.status == 2 %>

                  <% else  %>
                    <div class="dash-transporter-offer">
                      <%= image_tag "logo-diable.jpg", class: "dash-offer-user" %>
                      <div class="dash-offer-desc">
                        <p><%= offer.description.capitalize %></p>
                        <p><%= offer.price %> € </p>
                      </div>
                      <div class="dash-offer-link">
                        <%= link_to "Valider", validate_offer_path(product, offer), class: "btn btn-primary" %>
                        <%= link_to "Refused", refused_offer_path(product, offer), class: "btn btn-danger" %>
                      </div>
                    </div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
