<h1>INDEX</h1>
<%= render "components/search" %>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
          <%= product.photo %>
          <%= product.title %>
          <%= product.description %>
          <%= product.status %>
          <%= link_to "Show", product_path(product) %>
          <%= link_to "Offre",  %>
      <% end %>
    </div>
  </div>
</div>


<%= render "components/card" %>

