<h1>INDEX</h1>

<%= form_tag(products_path, method: :get) do %>
<%= text_field_tag :query, nil, placeholder: "Choisir une ville", class: 'btn-sea' %>
<%= submit_tag 'Recherche', class: "btn-recherche" %>
<% end %>






<%= form_tag(products_path, method: :get) do %>
<%= text_field_tag :query,
params[:query],
class: "form-control",
  placeholder: "Trouve une annonce"
  %>
  <%= submit_tag 'Recherche' %>
  <% end %>


  <% @products.each do |product| %>
  <%= product.title %>
  <%= product.description %>
  <%= product.status %>
  <%= link_to "Show", product_path(product) %>
</div>

<% end %>
<div class="main-container">
  <div class="row">
    <div class="col-xs-4">
      <div class="card-test"></div>
    </div>
    <div class="col-xs-4">
      <div class="card-test"></div>
    </div>
    <div class="col-xs-4">
      <div class="card-test"></div>
    </div>
    <div class="col-xs-4">
      <div class="card-test"></div>
    </div>
  </div>

  <div id="map">

  </div>
</div>







