   <div class="search-container">
      <div class="form-search-index">

      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Trouvez une annonce"%>
      </div>
      <div class="submit-btn-index">
        <%= submit_tag("Recherchez") %>

      </div>
        <% end %>

  </div>

<div class="main-container-index-product">
    <div class="content-card-index">
      <div class="row">
      <% @products.each do |product| %>
        <% if product.status == "en_cours" %>
          <% if product.photo.present? %>
            <div class="col-xs-12 col-sm-12 col-md-6" >
              <div class="card-container-index">
                <div class="img-container-index">

                  <%= cl_image_tag product.photo, height: 200, width: 200, crop: :fill %>

                </div>
                  <div class="info-card-index">


                    <div class="product-title-card">
                    <h5><%= product.title.capitalize %></h5>
                    </div>
                      <div class="product-categorie-card">
                       <p><%= image_tag 'size-icone.png', height: 15, width: 15 %>
                          <%= product.width.category.capitalize %></p>
                      </div>

                </div>
                <div class="distance-card-index">
                      <div class="product-offer-distance">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>10km</p>
                      </div>
                      <div class="product-offer-card">
                        <i class="fas fa-search"></i>
                        <%= link_to "Voir le produit", product_path(product), class: "link-index" %>
                      </div>
                </div>

              </div>
              <%#= render partial: "components/card", locals: {product: product} %>
            </div>
          <% end %>
        <% else %>
        <% end %>
        <% end %>
      </div>
    </div>
  <div class="container-map">
     <div
        id="map"
        style="width: 100%;
        height: 100vh;"
        data-markers="<%= @markers.to_json %>"
      ></div>
  </div>
</div>




