
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <%= @product.title %>
          <%= @product.description %>
          <%= @product.status %>
          <%= link_to "retour au produit", products_path %>
          <%= link_to "Faire une offre", new_product_offer_path(@product) %>
        </div>
      </div>
    </div>
  </div>
</div>
