<div class="container-grey">
  <div class="content-show">
    <div class="empty"></div>
    <div class="card-show">
      <div class ="image-show">
        <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill, class: "img-show"%>
      </div>
      <div class="titre-show">
        <h2><%= @product.title %></h2>
        <p><%= @product.description %></p>
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalPrice">
          Faire une offre
          <%#= link_to "Faire une offre", new_product_offer_path(@product), class: "btn btn-primary"  %>
        </button>
      </div>
    </div>
    <div class="map-show">
      <div
        id="map"
        style="width: 100%;
        height: calc(100vh - 163px);"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-price">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Votre offre</h4>
      </div>
      <div class="modal-body">
      <%= simple_form_for [@product, @offer] do |f| %>
        <%= f.input :price, required: false, placeholder: "€" %>
        <%= f.input :description, required: false, placeholder: "Description" %>
        <%= f.submit "Valider votre offre", class: "btn-bleue" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <!--         <button type="button" class="btn btn-primary">Valider votre offre</button>
        -->
      </div>
    </div>
  </div>
</div>








