<div class="container-grey">
  <div class="content-show">
    <div class="empty"></div>
    <div class="card-show">
      <div class ="image-show">
        <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill, class: "img-show"%>
      </div>
      <div class="titre-show">
        <h2><%= @product.title %></h2>
        <p class="description-show"><%= @product.description %></p>
        <p><i class="fas fa-map-marker marker-orange"> <br></i><%= @product.ad %></p>
        <p><i class="fas fa-map-marker marker-green"> <br></i><%= @product.aa %></p>
        <p><%= @product.category %></p>
        <p ><i class="fas fa-truck truck-blue"> <br></i> <%= l(@product.date_delivery) %></p>
        <p class ="last-aa"><i class="fas fa-arrows-alt-h arrows-blue"></i> <%= @distance %> Km</p>



        <% if @product.user == current_user %>
            <%= link_to "Editer", edit_product_path(@product) ,class: "btn btn-primary btn-lg button-show-size" %>
        <% elsif current_user.transporter? %>
          <button type="button" class="btn btn-primary btn-lg button-show-size" data-toggle="modal" data-target="#modalPrice">
            Faire une offre
          </button>
        <% else %>

        <% end %>
      </div>
    </div>
    <div class="map-show">
      <div
        id="map"
        style="width: 100%;
        height: calc(100vh);"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="modalPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-price">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Votre offre</h4>
      </div>
      <div class="modal-body">
      <%= simple_form_for [@product, @offer] do |f| %>
        <%= f.input :price, required: false, placeholder: "€" %>
        <%= f.input :description, required: false, placeholder: "Description" %>
        <%=   f.collection_radio_buttons :hypothese_id, Hypothese.all, :id, :name %>

        <%= f.submit "Valider votre offre", class: "btn-bleue" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <!--         <button type="button" class="btn btn-primary">Valider votre offre</button>
        -->
      </div>
    </div>
  </div>
</div>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@product.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @product.description %>
<% content_for :meta_image, cl_image_path(@product.photo) %>






