
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <%= @product.title %>
          <%= cl_image_tag @product.photo, height: 400, width: 480, crop: :fill, class: "img-show"%> %>
          <%= @product.description %>

          <%= @product.status %>
          <%= link_to "retour au produit", products_path %>
          <%= link_to "Faire une offre", new_product_offer_path(@product) %>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="content">
          <% @offers.each do |offer|  %>
          <% if offer.status ==  %>

            <div class="offer">
              <%= offer.transporter.user.first_name %>
              <%= offer.description %>
              <%= offer.price %>
              <% if @product.user == current_user %>
                <%= link_to "Validé", validate_offer_path(@product,offer)  %>
                <%= link_to "Refusé", refused_offer_path(@product,offer)  %>
              <% end %>
            </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

