<div class="container-grey">
  <div class="content-show">
    <div class="empty"></div>
    <div class="card-show">
      <div class ="image-show">
        <%= cl_image_tag @product.photo, height: 300, width: 400, crop: :fill, class: "img-show"%>
      </div>
      <div class="titre-show">
        <h2><%= @product.title %></h2>
        <p><%= @product.description %></p>
        <%= link_to "Faire une offre", new_product_offer_path(@product), class: "btn btn-primary"  %>
      </div>
    </div>
    <div class="map-show">
      <div
        id="map"
        style="width: 100%;
        height: calc(100vh - 163px);"
        data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  </div>
</div>
